@import "../mixins";
@import '../variables';

.btn {
  background-color: $background-color-btn;
  border: none;
  border-radius: 40px;
  color: #ffffff;
  @include center;
  text-decoration: $text-decoration-none;
  font-size: $font-size-medium;
  font-weight: $font-weight;
  text-transform: $text-transform-capitalize;
  box-sizing: border-box;
}

.btn:hover{
  background-color: $background-color-hover;
  color: #8D81AC;
  border: 2px solid #8D81AC;
  box-sizing: border-box;
}

.header-btn{
  padding: 12px 20px;
  margin-right: 10px;
}

.download-btn{
  @include center;
  padding: 23px 43px;
  position: $position-absolute;
  bottom: -4vh;
  left: 40%;
}

@media screen and (min-width: 481px) and (max-width: 992px) {
  .download-btn {
    bottom: -4vh;
    left: 25%;
    font-size: 21px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .btn {
    font-size: 15px;
  }

  .header-btn {
    padding: 11px 12px;
  }

  .download-btn {
    bottom: -4vh;
    left: 10%;
    font-size: 18px;
    padding: 12px 15px;
  }
}
