@import "../mixins";
@import '../variables';

.section-container{
  background: url('/dist/img/section-about-bg.png') no-repeat center left /cover;
}

.about-us-title{
  font-weight: $font-weight;
  font-size: $font-size-h2;
  @include center;
  color: #FFFFFF;
  padding-top: 108px;
  /*padding-bottom: 82px;*/
  text-transform: $text-transform-capitalize;
  margin: 0;
}

.about-us-list{
  @include space-between;
  flex-wrap: wrap;
  list-style: $list-style;
}

.about-us-item{
  width: 30%;
  list-style: $list-style;
}

.about-us-link{
  @include column;
  @include center;
}

.about-us-img-smashing{
  width: 42vh;
  height: $height-about-us-big;
  @include margin-about-us;
}

.about-us-img-codrops{
  width: 42vh;
  height: $height-about-us-big;
  @include margin-about-us;
}

.about-us-img-w{
  width: 5vw;
  height: $height-about-us-big;
  @include margin-about-us;
}

.about-us-img-pixel{
  width: 18vw;
  height: 7vh;
  margin-left: 5vw;
  margin-bottom: 9vh;
  margin-top: $margin-top-about-us-big;
}

.about-us-img-bloq{
  width: 18vw;
  height: 7vh;
  margin-left: 5vw;
  margin-bottom: 9vh;
  margin-top: $margin-top-about-us-big;
}

.about-us-img-tnw{
  width: 18vw;
  height: 7vh;
  margin-left: 5vw;
  margin-bottom: 9vh;
  margin-top: $margin-top-about-us-big;
}

.about-us-text{
  font-style: $font-style-italic;
  font-weight: $font-weight;
  font-size: $font-size-medium;
  @include center;
  color: #FFFFFF;
  line-height: 24px;
}

.about-us-section-text{
  font-family: $fonts-family-Lato;
  font-size: $font-size-small;
  @include center;
  color: #A291A5;
  padding: 120px 12.2% 50px 12.2%;
  position: $position-relative;
  margin: 0;
}

.about-us-section-text:after{
  position: $position-absolute;
  content: '';
  width: 85vw;
  height: 2px;
  background-color: #645766;
  bottom: 32px;
  right: 7.5vw;
}


@media screen and (min-width: 481px) and (max-width: 992px){
  .about-us-item {
    width: 43%;
  }

  .about-us-img-smashing{
    margin-left: 9vw;
    margin-bottom: 9vh;
    margin-top: 16vh;
  }

  .about-us-img-codrops{
    margin-left: 9vw;
    margin-bottom: 9vh;
    margin-top: 16vh;
  }

  .about-us-img-w{
    margin-left: 18vw;
    margin-bottom: 6vh;
    margin-top: 16vh;
  }

  .about-us-img-pixel{
    margin-left: 10vw;
    margin-bottom: 9vh;
    margin-top: 16vh;
  }

  .about-us-img-bloq{
    margin-left: 11vw;
    margin-bottom: 8vh;
    margin-top: 16vh;
  }

  .about-us-img-tnw{
    margin-left: 11vw;
    margin-bottom: 8vh;
    margin-top: 16vh;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .about-us-title{
    font-size: 36px;
    line-height: 48px;
  }

  .about-us-list{
    flex-direction: column;

  }

  .about-us-item{
    width: 90%;
  }

  .about-us-img-smashing{
    width: 33vw;
    margin-left: 25vw;
    margin-bottom: 9vh;
    margin-top: 10vh;

  }

  .about-us-img-codrops{
    width: 33vw;
    margin-left: 25vw;
    margin-bottom: 9vh;
    margin-top: 10vh;

  }

  .about-us-img-w{
    width: 10vw;
    margin-left: 38vw;
    margin-bottom: 9vh;
    margin-top: 10vh;

  }

  .about-us-img-pixel{
    margin-left: 25vw;
    margin-bottom: 9vh;
    margin-top: 10vh;
    width: 35vw;
  }

  .about-us-img-bloq{
    margin-left: 29vw;
    margin-bottom: 9vh;
    margin-top: 10vh;
    width: 30vw;
  }

  .about-us-img-tnw{
    margin-left: 35vw;
    margin-bottom: 8vh;
    margin-top: 10vh;
  }

  .about-us-text-last{
    padding-bottom: 15vh;
  }

  .about-us-section-text{
    display: $display-none;
  }

  .about-us-section-text:after{
    display: $display-none;
  }
}