@import "../mixins";
@import '../variables';

.container-wrapper{
  margin: 0 auto;
}

.header{
  position: $position-fixed;
  width: $width;
  top: $top-start;
  left: $left-start;
  z-index: 50;
}

.header:before{
  position: $position-absolute;
  content: '';
  width: $width;
  height: $height;
  top: $top-start;
  left: $left-start;
  z-index: 1;
  background: rgba(0, 0, 0, 1);
}

.wrapper-container{
  background: url('/dist/img/header-img.png') no-repeat top left /cover;

}

.container-wrapper {
  max-width: 1200px;
  padding: 0 10px;
}

.header__body{
  position: $position-relative;
  z-index: 2;
  @include space-between;
  height: 82px;
  align-items: center;
}

.medium{
  display: $display-none;
}

.small{
  display: $display-none;
}

.header__logo {
  flex: 0 0 150px;
  overflow: hidden;
  position: $position-relative;
  z-index: 5;
  margin-left: 58px;
  @include space-around;
  align-items: center;
}

.header__logo:hover{
  color: $color-hover;
}

.header__img{
  max-width: $width;
}

.company-name{
  font-family: $fonts-family-Lato;
  font-weight: $font-weight;
  font-size: 24px;
  color: $main-color;
}

.header__burger{
  display: $display-none;
}

.header__menu{
  @include space-around;
  align-items: center;
}

.header__list{
  display: flex;
  position: $position-relative;
  z-index: 2;
}

.header__item{
  list-style: $list-style;
  margin-left: 20px;
}

.header__link{
  color: $main-color;
  text-transform: $text-transform-capitalize;
  font-weight: $font-weight;
  font-size: $font-size-medium;
  text-decoration: $text-decoration-none;
  padding-top: 42px;
  padding-right: 28px;
}

.header__link:hover{
  color: $color-hover;
}

.header__title{
  font-weight: $font-weight;
  font-size: $font-size-h1;
  color: #ffffff;
  margin-top: 80px;
  text-transform: $text-transform-capitalize;
  @include center;
  padding-top: 80px;
  margin-bottom: 0;
}

.header__slogan{
  font-family: $fonts-family-Lato;
  font-size: $font-size-slogan;
  color: $main-color;
  @include center;
  padding-top: 22px;
  margin: 0;
}

.header__text{
  font-size: $font-size-medium;
  text-transform: uppercase;
  color: #848E97;
  padding-top: 16px;
  @include center;
  padding-bottom: 50vh;
  margin: 0;
}

.header__wrapper{
  position: $position-relative;
}

.header-span{
  font-size: $font-size-small;
  color: #848E97;
  position: $position-absolute;
  bottom: -14vh;
  left: 43%;
}

@media screen and (min-width: 481px) and (max-width: 992px) {
  .header:before {
    background: #27262A;
  }

  .container-wrapper {
    width: auto;
  }

  .header__body {
    height: 20vh;
    padding-top: 22px;
    display: inline-block;
  }

  .big {
    display: $display-none;
  }

  .medium {
    display: $display-none;
  }

  .small {
    display: $display-none;
  }

  .header__body-wrapper {
    @include space-between;
    margin-bottom: 3vh;
  }

  .header__menu {
    justify-content: space-evenly;
  }

  .header__link {
    padding-top: 0;
    padding-bottom: 2vh;
  }

  .header__title {
    margin-top: 25vh;
    padding-top: 15vh;
    font-size: 72px;
  }

  .header__slogan {
    font-size: 24px;
    padding-top: 5vh;
  }

  .header__text {
    font-size: $font-size-small;
    padding-top: 5vh;
    padding-bottom: 50vh;
  }

  .download-btn {
    bottom: -7vh;
    left: 25%;
    font-size: 21px;
  }

  .header-span {
    left: 35%;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .header:before {
    background: #27262A;
  }

  .wrapper-container {
    background: url('/dist/img/header-img.png') center;
  }

  .container-wrapper {
    width: auto;
    position: $position-relative;
  }

  .header__body {
    height: 28vh;
    /*padding-top: 22px;*/
    display: inline-block;
  }

  .big {
    display: $display-none;
  }

  .medium {
    display: $display-none;
  }

  .small {
    @include space-between;
  }

  .header__logo {
    flex: 0 0 50px;
    margin-left: 10px;
  }

  .btn {
    font-size: 15px;
  }

  .header-btn {
    padding: 11px 12px;
  }

  .company-name {
    display: $display-none;
  }

  .header__burger {
    display: block;
    position: $position-relative;
    width: 33px;
    height: 22px;
    z-index: 5;
    background-color: #27262A;
    top: 0.6vh;
    right: -29vw;
  }

  .header__burger:after,
  .header__burger:before {
    content: '';
    background-color: #ffffff;
    position: $position-absolute;
    height: 3px;
  }

  .header__burger:after {
    bottom: 10px;
    width: 15px;
    right: 146px;;
  }

  .header__burger:before {
    top: 24px;
    width: 26px;
    right: 146px;;
  }

  .header__span {
    position: $position-absolute;
    background-color: #ffffff;
    width: 26px;
    height: 2px;
    right: 146px;
    top: 18px;
    transition: all 0.3s ease 0s;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
    width: 26px;
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__span.active {
    transform: scale(0);
    transition: all 0.3s ease 0s;
  }

  .header__menu {
    position: $position-fixed;
    top: -100%;
    left: 15px;
    width: 90%;
    height: $height;
    /*padding: 20px 10px 53px 10px;*/
    transition: all 0.3s ease 0s;
  }

  .header__menu.active {
    background-color: #333333;
    top: 28vh;
  }

  .header__list {
    display: block;
    width: $width;
    height: $height;
  }

  .header__item {
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    margin-left: 0;
    border-bottom: 2px solid #848E97;
    list-style: $list-style;
  }

  .header__item:hover {
    border-left: 8px solid $color-hover-burger;

  }

  .header__link {
    font-size: 26px;
    font-weight: normal;
    color: #FFFFFF;
    padding-left: 12vw;
  }

  .header__link:hover {
    color: $main-color;
    padding-left: 10vw;
  }


  .header__body-wrapper {
    @include space-between;
    margin-bottom: 3vh;
  }

  .header__menu {
    justify-content: space-evenly;
  }

  .header__link {
    padding-top: 0;
    padding-bottom: 2vh;
  }

  .header__title {
    font-size: $font-size-h2;
    padding-top: 20vh;
  }

  .header__slogan {
    font-size: 18px;
    padding-top: 4vh;
  }

  .header__text {
    font-size: $font-size-small;
  }

  .download-btn {
    bottom: -6vh;
    left: 10%;
    font-size: 18px;
    padding: 12px 15px;
  }

  .header-span {
    font-size: 15px;
    left: 20%;
  }
}