hr{
  width: 60px;
  height: 5px;
  background: #8D81AC;
  border: 1px transparent;
}
.pricing{
  background-image: url(dist/img/price-bg.png);
  padding-bottom: 100px;
  margin-top: -60px;
}
.pricing-header{
  font-size: 48px;
  line-height: 50px;
  color: #FFFFFF;
  padding-top: 120px;
  margin-left: 300px;
}
.pricing-flex{
  @include flex;
  margin-left: 25px;
}
.pricing-blocks{
  width: 257px;
  height: 457px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-left: 20px;
  margin-top: 100px;
}
.pricing-blocks-type{
  font-size: 24px;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.2);
  width: 227px;
  height: 57px;
  margin-top: -1px;
  text-transform: uppercase;
  padding-top: 30px;
  padding-left: 30px;
}
.block-type-special{
  width: 206px;
  padding-left: 50px;
}
.block-type-special2{
  width: 186px;
  padding-left: 70px;
}
.block-type-special3{
  width: 196px;
  padding-left: 60px;
}
.pricing-blocks-price{
  font-size: 60.1837px;
  color: #FFFFFF;
  font-weight: bold;
  margin-left: 65px;
  margin-top: -5px;
}
.pricing-blocks-date{
  font-size: 14px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-left: 80px;
  margin-top: -35px;
  margin-bottom: 30px;
}
.pricing-blocks-text{
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.pricing-blocks-btn{
  background-color: rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  font-size: 15px;
  width: 113px;
  height: 45px;
  border-radius: 45px;
  outline: none;
  border: 1px solid transparent;
  color: white;
  padding-left: 35px;
  margin-left: 50px;
}
.btn-fix{
  margin-top: 20px;
}
.block-black{
  width: 299px;
  height: 560px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 60px;
}
.block-type-black{
  width: 208px;
  height: 71px;
  padding-left: 90px;
  padding-top: 40px;
  background-color: rgba(0, 0, 0, 0.2);
}
.date-black{
  margin-top: -60px;
  margin-left: 100px;
  margin-bottom: 20px;
}
.btn-black{
  margin-left: 75px;
  margin-top: 20px;
}
.price-black{
  font-size: 82px;
}

// MEDIUM

.pricing-medium{
  display: none;
  background-image: url(dist/img/price-bg.png);
  margin-top: -50px;
  width: 780px;
  padding-bottom: 60px;
}
.pricing-header-medium{
  font-size: 42px;
  width: 594.89px;
  height: 41px;
  margin-left: 125px;
}
.flex-medium{
  margin-left: 100px;
  margin-top: -50px;
}
.black-type-medium{
  margin-left: -18px;
  margin-top: 90px;
}
.block-medium{
  margin-top: 150px;
}
@media screen and (max-width: 992px) and (min-width: 481px) {
  .pricing-medium{
    display: block;
  }
  .pricing{
    display: none;
  }
  .pricing-small{
    display: none;
  }
}

// SMALL

.pricing-small{
  display: none;
  background-image: url(dist/img/price-bg.png);
  width: 320px;
  padding-bottom: 45px;
}
.pricing-header-small{
  margin-left: 1px;
  font-size: 28px;
  text-align: center;
}
.blocks-small{
  margin-top: -5px;
}
.block-small{
  margin-left: 30px;
}
.block-black-small{
  margin-left: 10px;
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .pricing-medium{
    display: none;
  }
  .pricing{
    display: none;
  }
  .pricing-small{
    display: block;
  }
}

@media screen and (max-width: 1920px) and (min-width: 1201px){
  .pricing{
    padding-top: 21px;
  }
  .pricing-header{
    padding-left: 375px;
  }
  .pricing-flex{
    padding-left: 350px;
  }
}