$fonts-family-Lato: 'Lato', Sanserif;
$main-color: #8D81AC;
$font-size-medium: 16px;
$font-size-h1: 82px;
$font-size-slogan: 30px;
$font-size-small: 14px;
$font-size-h2: 48px;
$font-weight: bold;
$text-transform-capitalize: capitalize;
$text-decoration-none: none;
$position-fixed: fixed;
$width: 100%;
$height: 100%;
$top-start: 0;
$left-start: 0;
$color-hover-burger: #8D81AC;
$color-hover: #ffffff;
$position-absolute: absolute;
$position-relative: relative;
$display-none: none;
$background-color-btn: #8D81AC;
$background-color-hover: #ffffff;
$width-about-us-big: 19vh;
$height-about-us-big: 10vh;
$margin-left-about-us-big: 4vw;
$margin-bottom-about-us-big: 9vh;
$margin-top-about-us-big: 23vh;
$font-style-italic: italic;
$list-style: none;

